<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Weather Reports</title>
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="fooCtrl" style="">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">To Do </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#aboutApp">About the app</a></li>
            <li><a href="#aboutAuthor">Author</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container-fluid start">
    <div class="wrapper">
      
      <div class="col-md-4 sidebar">
        <div class="col-md-12" ng-repeat='dates in list track by $index' ng-click="showFullContent($index)">
          <div class="col-md-6" style=""> <p>{{dates.dt}}</p><p style="font-size:20px;"><b>{{dates.weather[0].main}}</p></b></div>
          <div class="col-md-6">
          <p><img ng-src="http://openweathermap.org/img/w/{{dates.weather[0].icon}}.png"></p><p style="font-size:20px;"><b>{{dates.temp.day}}º<sup>C</sup></b></p> </div>
        </div>
      </div>
      <div class="col-lg-8 rightSection" style="padding:20px;background-color:#305050;color:white;height:692px;">
      <div class="col-lg-12 imgDiv">
      <p align="center">
      <img style="position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;" ng-src={{imgSrc}}></p></div>
      <div class="col-lg-12">
        <h1><b>{{temp}}</b></h1>
      </div>
      <div class="col-lg-12">
        <h4><b>{{desc}}</b></h4>
      </div>
      <div class="col-lg-12">
        <h3>Humidity : <b>{{humid}}%</b></h3>
      </div>
      
      <div class="col-lg-12" style="margin-top:3%;">
        <div class="col-lg-3">
          <p><b>Overall(Max)</b></p>
          <p>{{daymax}}</p>
        </div>
        <div class="col-lg-3">
          <p><b>Overall(Min)</b></p>
          <p>{{daymin}}</p>
        </div>
        <div class="col-lg-3">
          <p><b>Evening</b></p>
          <p>{{eve}}</p>
        </div>
        <div class="col-lg-3">
          <p><b>Night</b></p>
          <p>{{night}}</p>
        </div>
      </div>

      <div class="col-lg-12" style="margin-top:3%;"><h3><b>{{date}} , {{city}}</b></h3></div>
        
      </div>
    </div>
  </body>
</html>
